@import "mixins/layout";
@import "mixins/mediaQueries";

@import "nav_item";


$defaults-float: left !default;


$defaults-nav_secondary-float:$defaults-float !default;


.nav_secondary
{
	float:$defaults-nav_secondary-float;
	> .nav_item
	{
		@include nav_item();
	}
}

// Mixins to easily generate themes for these modules.
@mixin change_nav_secondary()
{
	.nav_secondary
	{@content;}
}
@mixin change_nav_secondary__nav_item()
{
	.nav_secondary
	{
		> .nav_item
		{@content;}
	}
}