@import "../mixins/mediaQueries";
@import "../mixins/layout";


.post_preview
{
	//@extend %clearfix;

	> .m_image, .module.picture
	{
		width: 100%;
	}

	> .m_list
	{
		width: 100%; list-style:none; float:left;

		> .m_listItem
		{
			width: 100%; float:left; clear:left;
		}
	}

	> .module.summary
	{
		width: 100%; padding: 6% 3%; float:left;
	}

	&.post_preview-wide
	{
		> .m_image, .module.picture
		{
			width: 33%; float:left;
		}

		> .m_list
		{
			width: 64%; float:right;
		}

		> .module.summary
		{
			width: 64%; float:right;
		}
	}
}